<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>Serch for movies</ion-label>
  <ion-input [(ngModel)]="searchString" placeholder="search for movies by title" ></ion-input>
  <ion-button (click)="perform_searchs()">Search</ion-button>
  <ion-list  *ngFor="let item of movies">




    <ion-item>

      <img src="{{item.small_cover_image}}">  
      {{item.title}}
      
          <div *ngFor="let torrent of item.torrents">
              
             <a style="cursor: pointer;" (click)='publish(torrent.url)'  class="text-primary">{{torrent.quality}}</a> 
          </div>
      

    </ion-item>

  </ion-list>
</ion-content>
